/*Geneal Styles */
body {
    font-family: Arial,sans-serif ;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}
/* Header Section */
header {
    text-align: center;
    background-color: #9BA49E;
    color: #FFFDD0;
}
header image {
    border-radius: 50% ;
    margin: 10px 0;

}
/* Section Styles */
section {
    padding: 20px;
    margin: 20px;
    background-color: #e0ffff;
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}
/* Heading Styeles */
h1,h2 {color: #06402B;
}
a:hover {
    text-decoration: none;
}
/* Footer */
footer {
    text-align: center;
    padding: 10px 0;
    background-color: #333;
    color: white;
    margin-top: 20px;
}